In [6]:
# Importing pandas and numpy Libraries.
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',20)

In [7]:
# reading csv file
amazon = pd.read_csv("15_AMZN.csv")
amazon

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-06,1670.750000,1672.260010,1633.339966,1640.260010,1640.260010,3939900
1,2019-02-07,1625.000000,1625.540039,1592.910034,1614.369995,1614.369995,4626600
2,2019-02-08,1586.000000,1588.589966,1566.760010,1588.219971,1588.219971,5657500
3,2019-02-11,1600.979980,1609.290039,1586.000000,1591.000000,1591.000000,3317300
4,2019-02-12,1604.000000,1639.400024,1598.880005,1638.010010,1638.010010,4858600
5,2019-02-13,1647.000000,1656.380005,1637.109985,1640.000000,1640.000000,3560300
6,2019-02-14,1624.500000,1637.900024,1606.060059,1622.650024,1622.650024,4120500
7,2019-02-15,1627.859985,1628.910034,1604.500000,1607.949951,1607.949951,4343900
8,2019-02-19,1601.000000,1634.000000,1600.560059,1627.579956,1627.579956,3681700
9,2019-02-20,1630.000000,1634.930054,1610.119995,1622.099976,1622.099976,3337600
...,...,...,...,...,...,...,...
74,2019-05-23,1836.589966,1844.000000,1804.199951,1815.479980,1815.479980,4424300
75,2019-05-24,1835.890015,1841.760010,1817.849976,1823.280029,1823.280029,3369700
76,2019-05-28,1832.750000,1849.270020,1827.349976,1836.430054,1836.430054,3200000
77,2019-05-29,1823.119995,1830.000000,1807.530029,1819.189941,1819.189941,4279000
78,2019-05-30,1825.489990,1829.469971,1807.829956,1816.319946,1816.319946,3146900
79,2019-05-31,1790.010010,1795.589966,1772.699951,1775.069946,1775.069946,4618800
80,2019-06-03,1760.010010,1766.290039,1672.000000,1692.689941,1692.689941,9098700
81,2019-06-04,1699.239990,1730.819946,1680.890015,1729.560059,1729.560059,5679100
82,2019-06-05,1749.599976,1752.000000,1715.250000,1738.500000,1738.500000,4239800
83,2019-06-06,1737.709961,1760.000000,1726.130005,1754.359985,1754.359985,3684000

In [8]:
# creating index to Date column.
amazon2 = pd.read_csv("15_AMZN.csv",index_col=0)
amazon2

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-02-06,1670.750000,1672.260010,1633.339966,1640.260010,1640.260010,3939900
2019-02-07,1625.000000,1625.540039,1592.910034,1614.369995,1614.369995,4626600
2019-02-08,1586.000000,1588.589966,1566.760010,1588.219971,1588.219971,5657500
2019-02-11,1600.979980,1609.290039,1586.000000,1591.000000,1591.000000,3317300
2019-02-12,1604.000000,1639.400024,1598.880005,1638.010010,1638.010010,4858600
2019-02-13,1647.000000,1656.380005,1637.109985,1640.000000,1640.000000,3560300
2019-02-14,1624.500000,1637.900024,1606.060059,1622.650024,1622.650024,4120500
2019-02-15,1627.859985,1628.910034,1604.500000,1607.949951,1607.949951,4343900
2019-02-19,1601.000000,1634.000000,1600.560059,1627.579956,1627.579956,3681700
2019-02-20,1630.000000,1634.930054,1610.119995,1622.099976,1622.099976,3337600
...,...,...,...,...,...,...
2019-05-23,1836.589966,1844.000000,1804.199951,1815.479980,1815.479980,4424300
2019-05-24,1835.890015,1841.760010,1817.849976,1823.280029,1823.280029,3369700
2019-05-28,1832.750000,1849.270020,1827.349976,1836.430054,1836.430054,3200000
2019-05-29,1823.119995,1830.000000,1807.530029,1819.189941,1819.189941,4279000
2019-05-30,1825.489990,1829.469971,1807.829956,1816.319946,1816.319946,3146900
2019-05-31,1790.010010,1795.589966,1772.699951,1775.069946,1775.069946,4618800
2019-06-03,1760.010010,1766.290039,1672.000000,1692.689941,1692.689941,9098700
2019-06-04,1699.239990,1730.819946,1680.890015,1729.560059,1729.560059,5679100
2019-06-05,1749.599976,1752.000000,1715.250000,1738.500000,1738.500000,4239800
2019-06-06,1737.709961,1760.000000,1726.130005,1754.359985,1754.359985,3684000

In [11]:
# names to set own column names and use hearder = 0 recommended.
amazon3 = pd.read_csv("15_AMZN.csv",names=['open','high','low','close','adjclose','volume'],header = 0)
amazon3

,open,high,low,close,adjclose,volume
2019-02-06,1670.750000,1672.260010,1633.339966,1640.260010,1640.260010,3939900
2019-02-07,1625.000000,1625.540039,1592.910034,1614.369995,1614.369995,4626600
2019-02-08,1586.000000,1588.589966,1566.760010,1588.219971,1588.219971,5657500
2019-02-11,1600.979980,1609.290039,1586.000000,1591.000000,1591.000000,3317300
2019-02-12,1604.000000,1639.400024,1598.880005,1638.010010,1638.010010,4858600
2019-02-13,1647.000000,1656.380005,1637.109985,1640.000000,1640.000000,3560300
2019-02-14,1624.500000,1637.900024,1606.060059,1622.650024,1622.650024,4120500
2019-02-15,1627.859985,1628.910034,1604.500000,1607.949951,1607.949951,4343900
2019-02-19,1601.000000,1634.000000,1600.560059,1627.579956,1627.579956,3681700
2019-02-20,1630.000000,1634.930054,1610.119995,1622.099976,1622.099976,3337600
...,...,...,...,...,...,...
2019-05-23,1836.589966,1844.000000,1804.199951,1815.479980,1815.479980,4424300
2019-05-24,1835.890015,1841.760010,1817.849976,1823.280029,1823.280029,3369700
2019-05-28,1832.750000,1849.270020,1827.349976,1836.430054,1836.430054,3200000
2019-05-29,1823.119995,1830.000000,1807.530029,1819.189941,1819.189941,4279000
2019-05-30,1825.489990,1829.469971,1807.829956,1816.319946,1816.319946,3146900
2019-05-31,1790.010010,1795.589966,1772.699951,1775.069946,1775.069946,4618800
2019-06-03,1760.010010,1766.290039,1672.000000,1692.689941,1692.689941,9098700
2019-06-04,1699.239990,1730.819946,1680.890015,1729.560059,1729.560059,5679100
2019-06-05,1749.599976,1752.000000,1715.250000,1738.500000,1738.500000,4239800
2019-06-06,1737.709961,1760.000000,1726.130005,1754.359985,1754.359985,3684000

In [12]:
# taking specific columns
amazon4 = pd.read_csv("15_AMZN.csv",usecols=['Date','Open',"Close"],header = 0)
amazon4

          Date         Open        Close
0   2019-02-06  1670.750000  1640.260010
1   2019-02-07  1625.000000  1614.369995
2   2019-02-08  1586.000000  1588.219971
3   2019-02-11  1600.979980  1591.000000
4   2019-02-12  1604.000000  1638.010010
5   2019-02-13  1647.000000  1640.000000
6   2019-02-14  1624.500000  1622.650024
7   2019-02-15  1627.859985  1607.949951
8   2019-02-19  1601.000000  1627.579956
9   2019-02-20  1630.000000  1622.099976
..         ...          ...          ...
74  2019-05-23  1836.589966  1815.479980
75  2019-05-24  1835.890015  1823.280029
76  2019-05-28  1832.750000  1836.430054
77  2019-05-29  1823.119995  1819.189941
78  2019-05-30  1825.489990  1816.319946
79  2019-05-31  1790.010010  1775.069946
80  2019-06-03  1760.010010  1692.689941
81  2019-06-04  1699.239990  1729.560059
82  2019-06-05  1749.599976  1738.500000
83  2019-06-06  1737.709961  1754.359985

[84 rows x 3 columns]