In [1]:
# Importing pandas and numpy Libraries.
import pandas as pd
import numpy as np

In [2]:
# Creating sales.
Sales1 = pd.Series([100, 200, 300, 400], index=["Google", "Microsoft", "Yahoo", "Facebook"])
Sales2 = pd.Series([150, 210, 390, 500], index=["Google", "Microsoft", "Yahoo", "Facebook"])
Sales3 = pd.Series([550, 310, 490, 700], index=["Google", "Microsoft", "Yahoo", "Facebook"])

In [3]:
Dataframe1 = pd.DataFrame({2017 : Sales1, 2018: Sales2, 2019: Sales3})
Dataframe1

           2017  2018  2019
Google      100   150   550
Microsoft   200   210   310
Yahoo       300   390   490
Facebook    400   500   700