In [1]:
import pandas as pd

In [12]:
s1 = pd.Series('a')

In [13]:
s1

0    a
dtype: object

In [14]:
s2 = pd.Series([10, 20, 30, 40])
s2

0    10
1    20
2    30
3    40
dtype: int64

In [24]:
# 
name_series = pd.Series(['Satyam', 'Rick', 'Daryl', "Glen"], index = ['s', 'r' ,'d', 'g'])
name_series

s    Satyam
r      Rick
d     Daryl
g      Glen
dtype: object

In [25]:
name2 = pd.Series({'S' : 'Satyam', 'R':'Rick', 'D':'Daryl'})
name2

S    Satyam
R      Rick
D     Daryl
dtype: object

In [31]:
#len(name2)
for n in range(len(name2)):
    print(n, " : ", name2[n])

0  :  Satyam
1  :  Rick
2  :  Daryl