In [1]:
# Importing pandas and numpy Libraries
import pandas as pd
import numpy as np

In [3]:
# duplicated data example.(Google, Facebook, Twitter)
Sales1 = pd.Series([200, 300, 400, 500, 200, 300, 400], 
                   index=['Google','Facebook', 'Twitter', 'Modi_Brand', 'Google','Facebook', 'Twitter'])

Sales2 = pd.Series([250, 350, 450, 700, 250, 350, 450], 
                   index=['Google','Facebook', 'Twitter', 'Modi_Brand', 'Google','Facebook', 'Twitter'])

Sales3 = pd.Series([300, 400, 500, 900, 300, 400, 500], 
                   index=['Google','Facebook', 'Twitter', 'Modi_Brand', 'Google','Facebook', 'Twitter'])

Dataframe1 = pd.DataFrame({2017:Sales1, 2018:Sales2, 2019:Sales3})
Dataframe1

            2017  2018  2019
Google       200   250   300
Facebook     300   350   400
Twitter      400   450   500
Modi_Brand   500   700   900
Google       200   250   300
Facebook     300   350   400
Twitter      400   450   500

In [4]:
Dataframe1.duplicated() # returns bool value

Google        False
Facebook      False
Twitter       False
Modi_Brand    False
Google         True
Facebook       True
Twitter        True
dtype: bool

In [5]:
Dataframe1.drop_duplicates() # drop duplicate values.

            2017  2018  2019
Google       200   250   300
Facebook     300   350   400
Twitter      400   450   500
Modi_Brand   500   700   900