In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import datetime
from datetime import datetime

In [2]:
Series1 = pd.Series([1, 2, 3])
Series1

0    1
1    2
2    3
dtype: int64

In [3]:
Dates = [pd.Timestamp(2009,2,15), pd.Timestamp(2009,2,16), pd.Timestamp(2009,2,17)]
Dates

[Timestamp('2009-02-15 00:00:00'),
 Timestamp('2009-02-16 00:00:00'),
 Timestamp('2009-02-17 00:00:00')]

In [4]:
Series1 = pd.Series([1, 2, 3], Dates)
Series1

2009-02-15    1
2009-02-16    2
2009-02-17    3
dtype: int64

In [6]:
type(Series1.index[1])

pandas._libs.tslibs.timestamps.Timestamp

In [8]:
Dt_index = pd.to_datetime(["Feb 15, 2009", None,"2009.2.16", "2009-02-17", "2009/02/18"])
Dt_index # to_datetime([]) automatically converts string into object.

DatetimeIndex(['2009-02-15', 'NaT', '2009-02-16', '2009-02-17', '2009-02-18'], dtype='datetime64[ns]', freq=None)

In [9]:
range = pd.date_range("2009-02-25", periods = 10) # automatically increment days by 1 to the specific period/days
Series2 = pd.Series([1,2,3,4,5,6,7,8,9,10], range)
Series2

2009-02-25     1
2009-02-26     2
2009-02-27     3
2009-02-28     4
2009-03-01     5
2009-03-02     6
2009-03-03     7
2009-03-04     8
2009-03-05     9
2009-03-06    10
Freq: D, dtype: int64

In [11]:
Slice = Series2[2:5]
Slice

2009-02-27    3
2009-02-28    4
2009-03-01    5
Freq: D, dtype: int64

In [12]:
Slice2 = Series2["2009-02-27":"2009-03-01"]
Slice2

2009-02-27    3
2009-02-28    4
2009-03-01    5
Freq: D, dtype: int64

In [13]:
Series2 + Slice2 # addition of Series and Slice

2009-02-25     NaN
2009-02-26     NaN
2009-02-27     6.0
2009-02-28     8.0
2009-03-01    10.0
2009-03-02     NaN
2009-03-03     NaN
2009-03-04     NaN
2009-03-05     NaN
2009-03-06     NaN
Freq: D, dtype: float64