In [1]:
# Import pandas and numpy libraries
import pandas as pd
import numpy as np

In [2]:
# defining new series object
views = pd.Series([100, 600, 250, 300, 300, 1000, np.nan], index=['sat', 'sun', 'mon', 'tues', 'wed', 'thrus', 'fri'])
views

sat       100.0
sun       600.0
mon       250.0
tues      300.0
wed       300.0
thrus    1000.0
fri         NaN
dtype: float64

In [3]:
# Access the index
views.index

Index(['sat', 'sun', 'mon', 'tues', 'wed', 'thrus', 'fri'], dtype='object')

In [4]:
# Access the values
views.values

array([ 100.,  600.,  250.,  300.,  300., 1000.,   nan])

In [5]:
# Access the value_counts
views.value_counts

<bound method IndexOpsMixin.value_counts of sat       100.0
sun       600.0
mon       250.0
tues      300.0
wed       300.0
thrus    1000.0
fri         NaN
dtype: float64>

In [7]:
# access from start (head)
views.head(3) # first three value

sat    100.0
sun    600.0
mon    250.0
dtype: float64

In [8]:
views.head(n=2) # first two value

sat    100.0
sun    600.0
dtype: float64

In [9]:
# accessing value from end (tail)
views.tail(2) # last two value

thrus    1000.0
fri         NaN
dtype: float64

In [10]:
views.tail(n=4) #last four values

tues      300.0
wed       300.0
thrus    1000.0
fri         NaN
dtype: float64

In [11]:
# accessing mutiple at same time.
views[['sun', 'thrus']]

sun       600.0
thrus    1000.0
dtype: float64

In [13]:
# accessing using take() method
views.take([2,1,0])

mon    250.0
sun    600.0
sat    100.0
dtype: float64