In [1]:
# Import pandas and numpy libraries.
import pandas as pd
import numpy as np

In [10]:
# defining series1 
grades = pd.Series([49, 200, 30, 45], index=['satyam', 'negan', 'daryl', 'rick']) # max grade 50 (200 is incorrect)
grades

satyam     49
negan     200
daryl      30
rick       45
dtype: int64

In [11]:
# correcting values in series
grades['negan'] = 46 # manaully fixing problem
grades

satyam    49
negan     46
daryl     30
rick      45
dtype: int64

In [12]:
# deleting  a row in the series
del(grades['negan'])
grades

satyam    49
daryl     30
rick      45
dtype: int64

In [14]:
# addimg more element in new series
grades = pd.Series([49, 200, 30, 45, 45, 42, 40], index=['satyam', 'negan', 'daryl', 'rick', 'carl', 'tera', 'jesus'])
grades

satyam     49
negan     200
daryl      30
rick       45
carl       45
tera       42
jesus      40
dtype: int64

In [15]:
# slicing data
grades[0:4:1] # 0 = strating index, 4 = (ending index - 1) and 1 = step (step to take data)

satyam     49
negan     200
daryl      30
rick       45
dtype: int64

In [18]:
grades[0:6:2]

satyam    49
daryl     30
carl      45
dtype: int64

In [24]:
grades

satyam     49
negan     200
daryl      30
rick       45
carl       45
tera       42
jesus      40
dtype: int64

In [19]:
grades[:3]

satyam     49
negan     200
daryl      30
dtype: int64

In [20]:
grades[2:] # start from 2 end with last element

daryl    30
rick     45
carl     45
tera     42
jesus    40
dtype: int64

In [21]:
grades

satyam     49
negan     200
daryl      30
rick       45
carl       45
tera       42
jesus      40
dtype: int64

In [22]:
grades[::2]

satyam    49
daryl     30
carl      45
jesus     40
dtype: int64

In [23]:
grades[:3:-1] # reversing slicing.

jesus    40
tera     42
carl     45
dtype: int64

In [25]:
grades[-2:] # starts with second last element

tera     42
jesus    40
dtype: int64

In [26]:
# slicing using label index
grades['negan':'tera'] # In this 'tera' also will be displayed

negan    200
daryl     30
rick      45
carl      45
tera      42
dtype: int64