In [1]:
# Import pandas and numpy libraries.
import pandas as pd
import numpy as np

In [8]:
# creating a series object
sales1 = pd.Series([200, 300, 400, 500], index=['facebook', 'microsoft', 'google', 'mycompany'])
sales1

facebook     200
microsoft    300
google       400
mycompany    500
dtype: int64

In [9]:
dataframe1 = pd.DataFrame({2019 : sales1}) # 2019 = column
dataframe1

           2019
facebook    200
microsoft   300
google      400
mycompany   500

In [10]:
sales2 = pd.Series([250, 350, 450, 550], index=['facebook', 'microsoft', 'mycompany', 'google'])
sales2

facebook     250
microsoft    350
mycompany    450
google       550
dtype: int64

In [11]:
sales3 = pd.Series([300, 450, 550, 650], index=['microsoft', 'facebook', 'google', 'mycompany'])
sales3

microsoft    300
facebook     450
google       550
mycompany    650
dtype: int64

In [12]:
dataframe2 = pd.DataFrame({2019 : sales3, 2018 : sales2, 2017 : sales1})
dataframe2 # shows result in alphabetical order of indexes

           2019  2018  2017
facebook    450   250   200
google      550   550   400
microsoft   300   350   300
mycompany   650   450   500

In [14]:
dataframe2.shape # (x , y), x:row and y:column

(4, 3)

In [16]:
# changing the column name
dataframe2.columns = ['A', 'B', 'C'] 
dataframe2

             A    B    C
facebook   450  250  200
google     550  550  400
microsoft  300  350  300
mycompany  650  450  500

In [17]:
# changing the index name.
dataframe2.index = ['FB', 'G', 'MS', 'MC'] # MC:mycompany ;)
dataframe2

      A    B    C
FB  450  250  200
G   550  550  400
MS  300  350  300
MC  650  450  500

In [18]:
# recreating object becz ShortName is lame.
dataframe2 = pd.DataFrame({2019 : sales3, 2018 : sales2, 2017 : sales1})
dataframe2 # shows result in alphabetical order of indexes

           2019  2018  2017
facebook    450   250   200
google      550   550   400
microsoft   300   350   300
mycompany   650   450   500

In [19]:
dataframe2.columns # accessing coloumns

Int64Index([2019, 2018, 2017], dtype='int64')

In [21]:
dataframe2.index # accessing only index.

Index(['facebook', 'google', 'microsoft', 'mycompany'], dtype='object')